@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$dark-grey: #969696;
$very-dark-grey: #2b2b2b;

html {
    font-family: 'Rubik', sans-serif;
}

#app {    
    background: url('../images/pattern-bg.png') no-repeat;
    background-size: 100% 35vh;      
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.3em;
    position: relative;
    height: calc(100vh - 4em);    
}

.title {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 1.5em;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.2em;
}

.container-input {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 12px;
    height: 55px;
    overflow: hidden;

    .search-input {
        height: 100%;
        border-radius: 0;
        border: transparent;
        padding: 0 15px;

        &::placeholder {
            // padding: 1.2em;
            font-size: clamp(9px, 2vw, 16px);
        }

        &:focus-visible {            
            outline: #00000015;
        }
    }

    button {
        background:  #000000;
        border: transparent;
    }
}

.container-output {
    display: grid;    
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #00000029;

    .output-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 12px;
        padding: 14px;        
        height: 45px;
        text-align: center;

        .subtitle {
            font-weight: 700;
            font-size: 10px;
            letter-spacing: 1px;
            color: $dark-grey;
            text-transform: uppercase;
        }

        .data {
            font-size: 19px;
            font-weight: 700;
            color: $very-dark-grey;
        }
    }
}

#map { 
    position: absolute; 
    z-index: -1;
    // top: 0; 
    bottom: 0; 
    width: 100%;
    height: 80vh; 
}

